<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Torneo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear Torneo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para abrir el modal -->
  <ion-button expand="full" (click)="abrirModal()">Crear Torneo</ion-button>

  <!-- Mostrar lista de torneos existentes -->
  <ion-list>
    <ion-item *ngFor="let torneo of torneos$ | async">
      <ion-label>
        <img src="{{torneo.fotoTorneoUrl}}" alt="Foto del Torneo" class="torneo-foto">
        <h2>{{ torneo.nombre }}</h2>
        <p>{{ torneo.descripcion }}</p>

        <!-- Mostrar el fixture de cada torneo -->
        <div *ngIf="torneo.fixture && torneo.fixture.length > 0">
          <h3>Fixture</h3>
          <ion-list>
            <ion-item *ngFor="let partido of torneo.fixture">
              <div class="partido">
                <!-- Equipo 1 -->
                <div class="equipo">
                  <img src="{{partido.equipo1FotoUrl}}" alt="Foto de {{ partido.equipo1 }}" class="equipo-foto">
                  <p class="equipo-nombre">{{ partido.equipo1 }}</p>
                </div>
                
                <!-- Texto "VS" -->
                <div class="versus">VS</div>

                <!-- Equipo 2 -->
                <div class="equipo">
                  <img src="{{partido.equipo2FotoUrl}}" alt="Foto de {{ partido.equipo2 }}" class="equipo-foto">
                  <p class="equipo-nombre">{{ partido.equipo2 }}</p>
                </div>
              </div>
              
              <p class="resultado">Resultado: {{ partido.resultado || 'Por jugar' }}</p>
            </ion-item>
          </ion-list>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
